* {
    padding: 0;
    margin: 0;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    display: block;
    background-color: #0e4166;
background-image: linear-gradient(to bottom, rgba(70, 70, 70, 0.86), black);
}

text {
    fill: none;
    stroke-width: 0.5;
    stroke: "#fff";
    font-size: 30px;
}

.intro-container {
    position: absolute;
    left: 10%;
    top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.hi {
    color: black;
    -webkit-text-stroke: 1px rgba(9, 243, 239, 0.9);
    font-size: 36px;
    font-family: 'Lexend Mega', sans-serif;
    margin-bottom: 2%;
}


.typing-container {
    overflow: hidden;
    white-space: nowrap;
    width: 60vw;
    animation: typing 1.2s steps(16), blink 1.5s infinite;
}

h1 {
    color: rgba(9, 243, 239, 0.9);
    color: -webkit-linear-gradient(0deg, rgba(9, 243, 239, 0.9) 0%, rgba(12, 182, 229, 0.68) 100%);
    color: linear-gradient(0deg, rgba(9, 243, 239, 0.9) 0%, rgba(12, 182, 229, 0.68) 100%);
    font-size: 5vw;
    font-family: 'Lexend Mega', sans-serif;
}

@keyframes typing {
    from {width: 0;}
}

@keyframes blink {
    0%, 100% {
        border-right: 2px solid rgba(9, 243, 239, 0.9)
    }

    50% {
        border-right: none;
    }
}

.major-text {
    color: white;
    font-family: 'Buenard', serif;
    font-size: 22px;
    margin-top: 2%;
}

.buttons {
    position: absolute;
    left: 10%;
    top: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap; 
    align-items:center;
    justify-content:center;
    width: 80vw;
    justify-content: flex-start;
}

.buttons button {
    padding: 2%;
    margin-right: 10%;
    border-radius: 0.5em;
    -webkit-box-shadow: -2px 9px 24.5px 12.5px rgba(70, 70, 70, 0.86);
    -moz-box-shadow: -2px 9px 24.5px 12.5px rgba(70, 70, 70, 0.86);
    box-shadow: -2px 9px 24.5px 12.5px rgba(70, 70, 70, 0.86);
    font-family: 'Buenard', serif;
    white-space: nowrap;
    font-size: 1.2em;
}

.enter-button {
    background-color: transparent;
    border:0.5px solid rgba(9, 243, 239, 0.9);
    color: rgba(9, 243, 239, 0.9);
    color: -webkit-linear-gradient(0deg, rgba(9, 243, 239, 0.9) 0%, rgba(12, 182, 229, 0.68) 100%);
    color: linear-gradient(0deg, rgba(9, 243, 239, 0.9) 0%, rgba(12, 182, 229, 0.68) 100%);
}

.enter-button:hover {
    background-color: rgba(9, 243, 239, 0.9);
    background-color: -webkit-linear-gradient(0deg, rgba(9, 243, 239, 0.9) 0%, rgba(12, 182, 229, 0.68) 100%);
    background-color: linear-gradient(0deg, rgba(9, 243, 239, 0.9) 0%, rgba(12, 182, 229, 0.68) 100%);
    color: black;
    border: 0.5px solid black;
    transform: scale(1.2);
    cursor: pointer;
}

.resume-download {
    background-color: rgba(9, 243, 239, 0.9);
    background-color: -webkit-linear-gradient(0deg, rgba(9, 243, 239, 0.9) 0%, rgba(12, 182, 229, 0.68) 100%);
    background-color: linear-gradient(0deg, rgba(9, 243, 239, 0.9) 0%, rgba(12, 182, 229, 0.68) 100%);
    color: black;
    border: 0.5px solid black;
}

.resume-download:hover {
    background-color: transparent;
    border:0.5px solid rgba(9, 243, 239, 0.9);
    color: rgba(9, 243, 239, 0.9);
    color: -webkit-linear-gradient(0deg, rgba(9, 243, 239, 0.9) 0%, rgba(12, 182, 229, 0.68) 100%);
    color: linear-gradient(0deg, rgba(9, 243, 239, 0.9) 0%, rgba(12, 182, 229, 0.68) 100%);
    transform: scale(1.2);
    cursor: pointer;
}

@media screen and (max-width: 751px) {
    .hi {
        font-size: 24px;
    }

    .major-text {
        font-size: 18px;
    }

    .buttons {
        position: absolute;
        left: 10%;
        top: 40%;
        display: flex;
        flex-direction: column;
        flex-wrap:wrap; 
        align-items:center;
        justify-content:center;
        width: 80vw;
        justify-content: flex-start;
    }

    button {
        width: 100%;
        margin-top: 2%;
    }
}

@media screen and (max-width: 400px) {
    .h1 {
        font-size: 20px;
    }

    .major-text {
        font-size: 14px;
    }

}

